.container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.content {
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0 10px 0;
    h1 {
        text-align: center;
        font-size: 32px;
        margin: 16px 0 16px;
    }

    h2 {
        font-size: 24px;
        margin: 20px 0 20px;
        border-bottom: 1px solid #dddddd;
    }
    
    h3 {
        font-size: 21px;
        margin: 16px 0 8px;
    }

    h4 {
        font-size: 18px;
        margin: 8px 0 8px;
    }

    h5 {
        font-size: 16px;
        margin: 8px 0 8px;
    }

    address {
        text-align: center;
    }
    
    p {
        line-height: 1.7em;
        text-indent: 2em;
        margin: 8px 0 8px;
        font-size: 16px;
        font-family: -apple-system,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial;
    }

    img {
        width: 100%;
    }

    pre {
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    mark {
        background-color: #f6f7f8;
        border: .1rem solid rgba(0,0,0,.1);
        border-radius: .4rem;
        font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    }

    ol {
        width: 100%;
        padding: 0 0 0 30px;
        box-sizing: border-box;
        margin: 10px 0 10px;
        li {
            p {
                text-indent: 0;
                margin: 0;
            }
        }
    }

    blockquote {
        width: 100%;
        box-sizing: border-box;
        margin: 20px 0 2px;
        background-color: #f8f8f8;
        border-left: 4px solid #cbcbcb;
        padding: 2px 20px 2px;
        color: #666;
        p {
            text-indent: 0;
        }
    }

    // 数学公式
    mjx-container {
        max-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        min-width: 0px !important;
    }

    mjx-container::-webkit-scrollbar {
        display: none;
    }
}
